<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <h3 class="block mb-6 text-xl font-medium text-gray-900 dark:text-white">Kontakt</h3>
  <div class="blocked">Der UTC Vitis wurde bereits im Jahre 1990 als TC Vitis gegründet. Aktuell zählen wir ca. 160 Mitglieder. Da sich in den letzten Jahren wieder mehr Sportbegeisterte für Tennis interessieren, verzeichnen wir stetig einen leichten Zuwachs bei unserem Verein. Die höchste Mitgliederzahl hatten wir mit ca. 200 Spielern. Unser Sportangebot umfasst Meisterschaftsspiele für Damen, Herren und Senioren. Ebenso stellen wir jedes Jahr spezielle Trainigsmöglichkeiten für Kinder und Jugendliche zur Verfügung.<br />
  </div>
  <br>
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <img src="/assets/images/DerVereinMitglieder.jpg" height="450" width="600"/>
  </div>
</div>
