# Angular spezifisch
/node_modules
/dist
/out-tsc
/tmp

# Umgebungs- und Konfigurationsdateien
.env
.env.*

# Angular Cache und Log Dateien
.angular
.angular/cache
.angular/*/logs

# IDEs und Editoren
/.idea
.project
.classpath
.c9/
*.launch
*.sublime-workspace
*.sublime-project
*.vscode/
*.code-workspace

# Systemdateien
.DS_Store
Thumbs.db

# Mac spezifisch
*.DS_Store

# Windows spezifisch
*.log
*.pid
*.seed
*.pid.lock

# TypScript spezifisch
*.tsbuildinfo

# NPM spezifisch
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sonstiges
*.swp
*~
