.pyramidRow {
  display: -webkit-flex;
  -ms-flex-pack: center;
  display: -ms-flexbox;
  border: 1px solid #333;
  justify-content: center;
  background-color: lightgrey;
  margin: auto;
}

.pyramidElement {
  background-color: #205081;
  width: 120px;
  text-align: center;
  font-size: large;
  color: white;
  border: 10px solid lightgrey;
}
