<h3 class="block mb-6 text-xl font-medium text-gray-900 dark:text-white">Benutzer</h3>


  <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <input type="text" id="table-search-users" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
    </div>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name
      </th>
      <th scope="col" class="px-6 py-3">
        Geburtsdatum
      </th>
      <th scope="col" class="px-6 py-3">
        Email
      </th>
      <th scope="col" class="px-6 py-3">
        Rolle
      </th>
      <th scope="col" class="px-6 py-3">
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
      <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <img class="w-8 h-8 rounded-full" src="assets/images/profiles/Bauer-Andreas.jpg" alt="Profilfoto">
        <div class="ps-3">
          <div class="text-base font-semibold">{{account.title}} {{account.firstName}} {{account.lastName}}</div>
        </div>
      </th>
      <td class="px-6 py-4">
        {{getFormattedDate(account.dateOfBirth)}}
      </td>
      <td class="px-6 py-4">
        {{account.email}}
      </td>
      <td class="px-6 py-4">
        <div class="flex items-center">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> {{account.isAdmin ? 'Administrator' : 'Spieler/-in'}}
        </div>
      </td>
      <td class="px-6 py-4">
        <a routerLink="edit/{{account._id}}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-1 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Bearbeiten</a>
        <button (click)="deleteAccount(account._id)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-1 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                [disabled]="account.isDeleting">
          <a *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></a><a *ngIf="!account.isDeleting">Löschen</a>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
<div>
  <br>
  <a routerLink="add" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Neuen Benutzer anlegen</a>
</div>
