<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <div class="container" *ngIf="account != null">
    <h1>Hallo <b>{{account.firstName}}</b>!</h1>
    <p>Du hast im Moment keine offenen Forderungen</p>
  </div>
  <div id="status-tournament-my-acceptable-games">
    <h3 class="block mb-6 text-xl font-medium text-gray-900 dark:text-white">Du hast 1 offene Forderung:</h3>
    <table bgcolor="#d3d3d3">
      <thead align="left">
      <tr>
        <th>Spieler 1</th>
        <th></th>
        <th>Spieler 2</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr style="height: 40px">
        <td>Bernhard Bauer</td>
        <td></td>
        <td>Andreas Bauer</td>
        <td>
          <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-1 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Annehmen</a>
        </td>
        <td>
          <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-1 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ablehnen</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="status-tournament-my-accepted-games">
    <h3 class="block mb-6 text-xl font-medium text-gray-900 dark:text-white">Du hast eine angenommene Forderung:</h3>
    <table bgcolor="#d3d3d3">
      <thead align="left">
      <tr>
        <th>Spieler 1</th>
        <th></th>
        <th>Spieler 2</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr style="height: 40px">
        <td>Bernhard Bauer</td>
        <td></td>
        <td>Andreas Bauer</td>
        <td>
          <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-1 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ergebnis eintragen</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container" *ngIf="account == null">
    <h1>Liebe Spielerin, lieber Spieler!</h1><br>
    <p class="blocked">Du befindest dich beim Forderungssystem des <b>UTC Vitis</b>. Dabei handelt es sich um ein vereins-internes Turnier, dass sich über ein ganzes Jahr erstreckt.
    Jedes registrierte Vereinsmitglied (Voraussetzung hierfür ist ein für dieses Jahr eingezahlter Mitgliedsbeitrag) kann an diesem Turnier teilnehmen. Dazu muss man
    sich ganz einfach <a href="/account/login"><b>HIER</b></a> registrieren und anschließend im Profil die Teilnahme für das aktuelle Jahr bekannt geben.
    Danach kannst du Forderungen an bestimmte Spieler-/innen stellen, ganz nach dem Regelwerk, dieses kannst du <a href="/rules"><b>HIER</b></a> nachlesen.
    <br><br>Wir wünschen dir viel Spaß mit unserer neuen Plattform und natürlich spannende und verletzungsfreie Spiele!</p>
  </div>
</div>
