<h3 class="block mb-6 text-xl font-medium text-gray-900 dark:text-white">Mein Profil</h3>
<div>
  <div class="mb-2">Name:  {{account.title}} {{account.firstName}} {{account.lastName}}</div>
  <div class="mb-6">Email: {{account.email}}</div>
</div>
<p><a routerLink="update" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Profil updaten</a></p>
